  <div class="row">
    <div class="col p-5 m-5">
      <div class="mb-3 pb-4" id="skies" role="img" aria-label="Purple/orange skies">
        <h1 class="mt-5 p-5">Welcome to the Random Quote Generator</h1>
        <div class="d-flex justify-content-center mb-3">
          <%= link_to 'Random Quote', root_path, class: "btn btn-primary"%>
        </div>
        <div class="card m-5">
          <div class="card-header text-center" style="color: black">
            Your quote is:
          </div>
          <div class="card-body">
            <blockquote class="blockquote text-center mb-0">
              <p style="color: black">"<%= @result %>"</p>
              <p style="color: black"> --- <%= @author %></p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>