<% provide(:tag, "Quotes") %>

<h1 class="my-4">My Quotes</h1>
<div class="container bg-white rounded border border-dark p-3">
  <% @quotes.each do | quote | %>
  	<div class="card m-5">
        <div class="card-body">
        	<blockquote class="blockquote text-center mb-0">
        		<p style="color: black">Tag: <%= quote.name %></p>
                <p style="color: black">"<%= quote.desc %>"</p>
            </blockquote>
        </div>
    </div>
  <% end %> 
</div>