@import "bootstrap/scss/bootstrap";
#words{
    margin: 1.1rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.6rem;
    border-left: solid #e5d3eb 6px;
    border-bottom: solid #e5d3eb 6px;
    text-align: justify;
    font-size: 1.4rem;
}